@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  color: #555;
  margin: 0;
}

#header {
   background-color: #151B54;
   height: 150px;
   line-hight: 150px;
}

#header-title {
  display: block;
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #222
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline
  padding-left: 20px;
}

.container {
   max-width: 700px;
   margin: 5 auto;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #F6A623;
}

.post {
 max-width: 800px;
 margin: 5 auto;
 padding: 60px 0;
}
 
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
}

.post-date {
   color: #D2D2D2;
   font-size: #40px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.1em;
 }

body {
  margin: 0;
  color: #55;
  font-family: 'Montserrat',sant-serif;
}
  
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

.column {
   display: inline-block;
   vertical-align: top;
   width: 150px;
   height: 100px;
}

#footer h4 {
   color: white;
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

#footer p {
   color: white;
}


